body{
    background: #e2e2e2;
    text-align: center;
    font-family: monospace;
    padding: 100px;
    justify-content: center;
    align-items: center;
}

.card{
    background: #1d2630;
    border-radius: 6px;
    display: inline-block;
    height: 470px;
    width: 375px;
    margin-top: 60px;
    box-shadow: 0 12px 13px rgba(0, 0, 0, 0);
}

.img{
    border-radius: 100px;
    margin-top: 65px;
    width: 100px;
    height: 100px;
}
.name{
    color: #fff;
}
.title{
    color: #7c8097;
    font-size: 16px;
}

.desc{
    font-size: 14px;
    margin-left: 65px;
    margin-right: 65px;
    color: #ce0f7b;
    margin-top: 16px;
}
.btn{
    outline: name;
    background: #19a681;
    margin-top: 6px;
    border: name;
    font-size: 14px;

}
.btn:hover{
    color: #19a68c;
    background: #e2e1e0;
    transition: all 300ms linear;
    cursor: pointer;
    
}